#map_wrapper{
    height: 100%;
    position: relative;
}
#map{
    padding-top: 10px;
    width: 100%;
    height:600px;
    position : absolute;
}   
#over_map { position: absolute; top: 105%; left: 70%; z-index: 99; }

#fourimage{
    height: 30px;
    width: 200px;
}